div#toc-controls {
    position: fixed;
    bottom: 1%;
    left: 3%;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column-reverse;

    aside#toc-aside {
        * {
            text-align: left;
        }
    }

    button label[for="toc-btn"] {
    }
}

@media screen and (max-width: 600px) {
    .spread {
        bottom: 1%;
        left: 3%;
        right: 3%;
    }
}
