@import "../../global.css";

c-article-search {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    font-size: 1rem;
    padding: 0;

    & fieldset.search {
        display: flex;
        flex-direction: row;
        gap: 0;

        & input.search-input {
            flex-grow: 1;
            line-height: 1.75;
            border: var(--dbg);
            padding: 0.125em 0.25em;

            @apply border-foreground border-2;

            &:focus {
                outline: none;
            }
        }
    }

    & fieldset.search-options {
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        gap: 0.625em;
        justify-content: flex-start;
        align-items: center;
    }
}
