@import "../global.css";

section#article-search-list,
section#article-list {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    &.hide-list {
        display: none;
    }
}

section#article-search-list {
    min-height: 40vh;
}
