@import "../global.css";

section#header,
section#article-search-list,
section#article-categories,
section#article-list {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    &.hide-list {
        display: none;
    }

    @media screen and (min-width: 600px) {
        max-width: 80%;
    }
}

section#article-categories {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2em;

    & button {
        @apply opacity-50;

        &.selected {
            @apply opacity-100;
        }
    }
}

section#article-search-list {
    min-height: 40vh;
}
