@import "../global.css";

section.comment-soon {
    font-size: 1rem;
    font-weight: 300;
    /*border: 0.125em solid var(--color-foreground);*/
    border-radius: 0;

    text-align: center;
    margin-bottom: 1em;
    padding: 2em 0;
    opacity: 0.7;
}

/** TODO: refactor this, should be inside the page not the global md-render component */
section.article-author {
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top-width: 0.0125em;
    border-top-style: solid;

    padding-top: 2em;
    margin-top: 2em;

    display: flex;
    flex-direction: row;
    gap: 0.5em;

    @apply border-zinc-300;

    .author-avatar {
        width: 4em;
        height: 4em;
        border-radius: 50%;
        border-style: solid;
        border-width: 0.12em;

        @apply border-zinc-200;
    }

    .author-details {
        margin-left: 1em;

        h2,
        h5,
        p {
            margin: 0;
            padding: 0;

            &[data-role="name"] {
                padding-bottom: 0.25;
                font-weight: 200;
            }

            &[data-role="role"] {
                padding-bottom: 0.25;
                font-weight: 100;
                /* Skew text */
                transform: skew(-10deg);
                padding-bottom: 0.5rem;
            }
        }

        section.author-description {
            font-size: 0.9em;
            font-weight: 300;

            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        .author-socials {
            display: flex;
            gap: 0.1em;
            margin-top: 2em;

            button a {
                @apply text-foreground border-none p-1;

                span[data-role="in"] {
                    font-size: 1.3em;
                    font-weight: 600;
                }
            }
        }
    }
}
